* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.topHeader {
  text-align: right;
}
.dataspan {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 10px;
}
.accdiv {
  background-color: gray;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.accBal {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
